APP_ENV=dev
APP_DEMO_MODE=true
APP_ALLOW_CORS_ORIGINS=http://localhost:19006,http://localhost:8081,http://127.0.0.1:19006,http://127.0.0.1:8081

TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3

JUSTWATCH_API_KEY=
